// Colors
$color-primary: #fff;
$color-secondary: #033;
$color-tertiary: #099;

// Font size & styles
$font-size-link: calc(4em + 4vw);
$font-size-title1: calc(5.5em + 6vw);
$font-size-title2: calc(3em + 6vw);
$font-size-title3: calc(3em + 4vw);
$font-size-title3: calc(3em + 4vw);
$font-size-title3-page: calc(2.5em + 3vw);
$font-size-para: calc(2.5em + 2vw);
$font-size-para-page: calc(2em + 2vw);
$font-size-footer: calc(1em + 2vw);
$font-size-footer-page: calc(0.8rem + 1.5vw);
$font-size-comment-para: calc(1rem + 1vw);
$font-size-quote: calc(1.8em + 2vw);
$line-height-para: calc(0.8em + 1vh);
$font-style: Georgia, "Times New Roman", Times, serif;

// Transition
$transition: all 0.3s ease-in-out;

// Mixin
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


