@import "utility";

@media screen and (min-width: 520px) {
  .img-container {
    width: 60%;
  }

  .img-container-page {
    width: 60%;
  }

  .dish-name,
  .dish-name-page {
    font-size: $font-size-para;
  }

  .avatar-img {
    width: 60%;
  }
}
