*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

em{
  font-size: calc(1rem + 2.2vw);
}

