*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

em, b, cite{
  font-size: calc(0.6rem + 2vw);
}

