// Colors
$color-primary: #fff;
$color-secondary: #033;
$color-tertiary: #099;

// Font size & styles
$font-size-link: calc(5em + 6vw);
$font-size-title1: calc(5em + 6vw);
$font-size-title2: calc(3em + 6vw);
$font-size-title3: calc(3em + 4vw);
$font-size-title3: calc(3em + 4vw);
$font-size-para: calc(2em + 3vw);
$font-size-footer: calc(2em + 2vw);
$font-style: Georgia, "Times New Roman", Times, serif;

// Transition
$transition: all 0.3s ease-in-out;

// Mixin
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

