// @import "utility";

@media screen and (min-width: 1150px) {
  .main-site {
    max-width: 1000px;
  }

  .menu-link{
    font-size: 2.5rem;
  }

  .header-content{
    padding: 2rem;
    border-radius: 2rem;
  }

  .header-content-title{
    font-size: 8rem;
  }

  .sub-content{
    font-size: 3rem;
    max-width: 1000px;
    line-height: 4rem;
    padding: 3rem;
  }

  .intro{
      font-size: 2.3rem;
  }

  .dish-name{
      font-size: 2rem;
  }

  .quote{
    font-size: 2.3rem;
  }

  em, b, cite{
    font-size: 2rem;
  }

  .country-article {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .country-name {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 5rem;
  }

  .intro {
    grid-area: 2 / 1 / 3 / 4;
  }

  .discover-more {
    grid-area: 3 / 1 / 4 / 4;
    font-size: 2.2rem;
  }

  .dish-1 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .dish-2 {
    grid-area: 4 / 2 / 6 / 3;
  }
  .dish-3 {
    grid-area: 4 / 3 / 6 / 4;
  }

  .img-container {
    display: grid;
    width: 100%;
  }

  .footer-para{
    font-size: 1.8rem;
  }

  .social-link{
      gap: 1.5rem;
  }
}


