@import "reset";
@import "utility";

.container {
  @include center;
  font-family: $font-style;
  min-height: 100%;
  min-width: 100%;
}

.site-header {
  position: relative;
  @include center;
  height: 100vh;
  min-width: 100%;
  background-color: $color-secondary;
  background-image: url("https://source.unsplash.com/sedJnjrUMM8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}

.menu-btn {
  position: fixed;
  @include center;
  -webkit-appearance: none;
  outline: none;
  background: $color-tertiary;
  height: 3.5em;
  width: 3.5em;
  right: 3vw;
  top: 1em;
  font-size: 4em;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
  transition: $transition;

  &:hover {
    transform: rotate(360deg);
  }

  &::before {
    position: absolute;
    content: "☰";
    color: $color-primary;
    font-size: 1.5em;
  }

  &:checked::before {
    content: "✖";
    position: absolute;
  }

  &:checked ~ .main-nav-header {
    visibility: visible;
    z-index: 5;
  }
}

.main-nav-header {
  position: fixed;
  @include center;
  visibility: hidden;
  background-color: $color-tertiary;
  filter: opacity(0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .menu-link {
    position: relative;
    display: block;
    color: $color-primary;
    width: 100%;
    font-size: $font-size-link;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    padding: 0.5em 1.5em;
    border: 0.1em solid $color-primary;
    transform: scale(1);

    &:active {
      transform: rotate(-3deg) scale(0.9);
      filter: contrast(3);
      border-radius: 1em;
      box-shadow: 0 0 1em $color-tertiary;
    }
  }

  .menu {
    align-self: stretch;
  }
}

.menu-list {
  @include center;
  gap: 3rem;
}

.header-logo {
  position: absolute;
  left: 3vw;
  top: 4em;
}

.header-content {
  position: relative;
  @include center;

  .header-content-title {
    font-size: $font-size-title1;
    color: $color-primary;
  }

  .sub-content {
    font-size: $font-size-para;
    color: $color-primary;
    text-align: center;
    font-style: italic;
    padding: 0.5rem 1rem;
  }
}

.header-logo-name {
  position: absolute;
  font-size: 4.5em;
  color: $color-primary;
}

.logo {
  font-family: $font-style;
  font-size: 20em;
  color: $color-primary;
  text-decoration: none;
  font-weight: 800;
}

.globe-logo {
  font-size: 1em;
  color: $color-tertiary;
  letter-spacing: 0.5vw;
}

// Main Site
.main-site {
  position: relative;
  @include center;

  .quote {
    border-left: 0.5em solid $color-tertiary;
    margin: 1.5em 1em;
    padding: 0.5em 10px;
    font-size: $font-size-para;
    color: #aaa;
    width: calc(100% - 2em);

    &::before {
      color: #aaa;
      content: open-quote;
      font-size: $font-size-para;
      line-height: 0.1em;
      margin-right: 0.5em;
      vertical-align: -0.4em;
    }
  }
}

.article {
  position: relative;
  @include center;
  width: 100%;
  margin: 1em auto;
}

.title {
  font-size: $font-size-title3;
  color: $color-secondary;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 0.3rem solid $color-tertiary;
  border-radius: 5rem;
  padding: 0 2rem;
}

.image {
  position: relative;
  width: 100%;
  margin: 1.2rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #aaa;

}

.section {
  position: relative;
  @include center;
}

.intro{
  // position: relative;
  text-align: center;
  font-size: $font-size-para;
  color: #aaa;
  padding: 2rem 1rem;
  
}

// .section-title {
//   position: relative;
//   font-size: $font-size-title3;
//   color: $color-secondary;
//   text-align: center;
//   margin: 1.8em 0 0.8em 0;
// }

.discover-more {
  position: relative;
  font-size: $font-size-para;
  color: $color-secondary;
  padding: 1rem 1.5em;
  background: #ddd;
  text-align: center;
  box-shadow: 0 0 0.2em #aaa;
  transition: $transition;
  transform: scale(1);
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

// .section-content {
//   display: none;
// }

.footer{
  position: relative;
  width: 100%;
  @include center;
  border-top: 0.2rem solid $color-secondary;
  padding-top: 2rem;
}

.footer-para{
  color: #aaa;
  font-size: $font-size-footer;
}

.designed{
  font-size: $font-size-para;
}

.social-link{
  position: relative;
  @include center;
  flex-direction: row;
  gap: 1rem;
  font-size: 10rem;
  
  .s-link{
    color: $color-secondary;
    top: 0;
    
    .fab{
      font-size: 5rem;
    }
  }
}
