@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

em, b, cite {
  font-size: calc(0.5rem + 2vw);
}

b, em {
  color: #033;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 100%;
  min-width: 100%;
  clear: both;
}

.site-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-width: 100%;
  background-color: #033;
  background-image: url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}

.menu-btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-appearance: none;
  outline: none;
  background: #099;
  height: 3.5em;
  width: 3.5em;
  right: 3vw;
  top: 1em;
  font-size: 4em;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-btn::before {
  position: absolute;
  content: "☰";
  color: #fff;
  font-size: 1.5em;
}

.menu-btn:checked::before {
  content: "✖";
  position: absolute;
}

.menu-btn:checked ~ .main-nav-header {
  visibility: visible;
  z-index: 5;
}

.main-nav-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  background-color: #099;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-link {
  position: relative;
  display: block;
  color: #fff;
  width: 100%;
  font-size: calc(4em + 4vw);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1.5em;
  border: 0.1em solid #fff;
  border-radius: 0.5rem;
}

.menu-link:hover {
  border-radius: 3rem;
  text-decoration: underline;
}

.menu {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

.header-content-title {
  font-size: calc(5.5em + 6vw);
  color: #fff;
}

.sub-content {
  font-size: calc(2.5em + 2vw);
  color: #fff;
  line-height: calc(0.8em + 1vh);
  text-align: center;
  font-style: italic;
  padding: 0.5rem 1rem;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20em;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.globe-logo {
  font-size: 1em;
  color: #099;
  letter-spacing: 0.5vw;
}

.header-logo-name {
  font-size: 4.5em;
  color: #fff;
}

.main-site {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote {
  border-left: 0.5em solid #099;
  margin: 1.5em 1em;
  padding: 0.5em 10px;
  font-size: calc(1.8em + 2vw);
  line-height: calc(0.8em + 1vh);
  color: #aaa;
  width: calc(100% - 2em);
}

.quote::before {
  color: #aaa;
  content: open-quote;
  font-size: calc(2.5em + 2vw);
  line-height: 0.1em;
  margin-right: 0.5em;
  vertical-align: -0.4em;
}

.country-article {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  margin: 1em auto;
}

.country-name {
  position: relative;
  font-size: calc(3em + 6vw);
  color: #033;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 2rem;
  border-bottom: 0.3rem solid #099;
  border-radius: 1rem;
}

.intro {
  text-align: center;
  font-size: calc(2.5em + 2vw);
  line-height: calc(0.8em + 1vh);
  color: #aaa;
  padding: 2rem 1rem;
}

.dish-name {
  position: relative;
  font-size: calc(3em + 4vw);
  color: #033;
  text-align: center;
  margin: 1.5rem 0;
}

.discover-more {
  position: relative;
  font-size: calc(2.5em + 2vw);
  color: #fff;
  padding: 1rem 1.5em;
  background: #099;
  text-align: center;
  -webkit-box-shadow: 0 0 0.2em #aaa;
          box-shadow: 0 0 0.2em #aaa;
  border-bottom: 0.5rem solid #fff;
  border-radius: 3rem 3rem 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.discover-more:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.site-header-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
}

.header-logo {
  position: absolute;
  left: 3vw;
  top: 4em;
}

.header-logo-page {
  position: fixed;
  background: #033;
  top: 0;
  left: 0;
  z-index: 90;
  padding: 0.5rem;
  width: 100%;
}

.dish-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 50%;
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eee;
  margin: 2rem 1rem;
  border-radius: 0 0 2rem 2rem;
}

.dishes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10rem;
}

.country-food {
  font-size: calc(3em + 4vw);
  text-align: center;
  padding: 1rem 5rem;
  background: #099;
  border-bottom: 1rem solid #bbb;
  border-radius: 2rem 0 2rem 0;
  color: #fff;
  font-weight: 300;
}

.img-container-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ddd;
  margin: 3rem;
  border-radius: 0 0 2rem 2rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.image-page {
  width: 100%;
  padding: 1rem;
  border: none;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  border-radius: 3rem;
}

.dish-name-page {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0 0.5rem 0;
  height: 5rem;
  width: 100%;
  font-weight: 300;
  border-radius: 0 0 1rem 1rem;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  background: #099;
}

.dish-para {
  font-size: calc(2em + 2vw);
  color: #aaa;
  text-align: center;
  line-height: calc(0.8em + 1vh);
}

.reply-form {
  padding: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.comment-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.comment-para {
  font-size: calc(1rem + 1vw);
  color: #aaa;
  padding-bottom: 2rem;
  line-height: calc(0.8em + 1vh);
}

.comment-form-title {
  font-size: calc(3em + 4vw);
  color: #033;
  padding: 1.5rem 0;
  border-top: 0.5rem solid #099;
}

.comment-message {
  width: 100%;
  height: 15rem;
  margin: 1.5rem 0;
  padding: 1.2rem 2rem;
  border: 0.1rem solid #ddd;
  outline: none;
  font-size: calc(1rem + 1vw);
  color: #033;
}

.fill-name {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: calc(1rem + 1vw);
  color: #033;
  margin: 0 0.5rem;
}

.form-data {
  margin: 1rem 0.5rem;
  padding: 1rem 3rem;
  border: 1px solid #ddd;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  color: #aaa;
  font-size: calc(1rem + 1vw);
}

.author-info {
  position: relative;
  text-align: center;
  margin: 2rem 1rem;
  background: #eee;
  border-radius: 1.5rem;
}

.author-title {
  font-size: calc(3em + 4vw);
  color: #fff;
  padding: 2rem 0 1rem 0;
  text-align: center;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  background: #099;
}

.avatar-img {
  width: 50%;
  float: left;
  shape-outside: circle(50%);
  border-radius: 50%;
  padding: 2rem 1rem;
}

.author-para {
  text-align: left;
  font-size: calc(2em + 2vw);
  color: #aaa;
  padding: 2rem 1rem;
  line-height: calc(0.8em + 1vh);
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 3rem;
  -webkit-perspective: 30rem;
          perspective: 30rem;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.post-submit {
  background: #099;
  color: #fff;
  padding: 1.5rem 2rem;
  min-width: 8rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
}

.post-submit::before, .post-submit::after {
  position: absolute;
  content: "";
  height: 3rem;
  width: 3rem;
  background: #099;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-animation: rotate 5s ease infinite;
          animation: rotate 5s ease infinite;
}

.post-submit::before {
  top: 0.5rem;
  right: 80%;
}

.post-submit:active::before {
  -webkit-animation: stop 3s ease;
          animation: stop 3s ease;
  -webkit-transform: translateX(1.2rem);
          transform: translateX(1.2rem);
}

.post-submit::after {
  bottom: -0.5rem;
  left: 80%;
}

.post-submit:active::after {
  -webkit-animation: stop 3s ease;
          animation: stop 3s ease;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg) translate3d(-1rem, -0.7rem, -1rem);
            transform: rotate(360deg) translate3d(-1rem, -0.7rem, -1rem);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate3d(1rem, 0.7rem, 1rem);
            transform: rotate(-360deg) translate3d(1rem, 0.7rem, 1rem);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg) translate3d(-1rem, -0.7rem, -1rem);
            transform: rotate(360deg) translate3d(-1rem, -0.7rem, -1rem);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate3d(1rem, 0.7rem, 1rem);
            transform: rotate(-360deg) translate3d(1rem, 0.7rem, 1rem);
  }
}

@-webkit-keyframes stop {
  0%,
  100% {
    -webkit-transform: rotate(0) translate3d(0, 0, 0);
            transform: rotate(0) translate3d(0, 0, 0);
  }
}

@keyframes stop {
  0%,
  100% {
    -webkit-transform: rotate(0) translate3d(0, 0, 0);
            transform: rotate(0) translate3d(0, 0, 0);
  }
}

.footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #033;
  border-radius: 3rem 3rem 0 0;
  padding-top: 2rem;
}

.footer-para {
  color: #fff;
  font-size: calc(1em + 2vw);
  padding: 0.3rem 0;
}

.footer-para-page {
  color: #fff;
  font-size: calc(0.8rem + 1.5vw);
  padding: 0.3rem 0;
}

.designed {
  font-style: italic;
}

.social-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  gap: 1rem;
  font-size: 10rem;
}

.social-link .s-link {
  color: #099;
  top: 0;
}

.social-link .s-link .s-icon {
  font-size: 5rem;
}
/*# sourceMappingURL=style-s.css.map */